<?xml version="1.0"?>
<launch>
  	<include file="$(find gazebo_ros)/launch/empty_world.launch">
		<!-- <arg name="world_name" value="$(find panporter_pkg)/worlds/maze.world"/> -->
		<!-- <arg name="world_name" value="$(find panporter_pkg)/worlds/arxiv_maze.world"/> -->
		<arg name="world_name" value="$(find panporter_pkg)/worlds/evolution.sdf"/>
		<arg name="paused" value="false"/>
		<arg name="use_sim_time" value="true"/>
		<arg name="gui" value="true"/>
		<arg name="headless" value="false"/>
		<arg name="debug" value="false"/>
  	</include>

	<include file="$(find panporter_pkg)/launch/panporter_spawner.launch">
		<arg name="namespace" value="panporter1"/>
		<arg name="model" value="panporter1"/>
		<arg name="x_pos" value="0.0"/>
		<arg name="y_pos" value="0.0"/>
		<arg name="z_pos" value="0.35"/>
		<arg name="roll" default="0"/>
		<arg name="pitch" default="0"/>
		<arg name="yaw" default="0.0" />
		<arg name="gui" value="false" />
	</include>

	<!-- <include file="$(find panporter_pkg)/launch/panporter_spawner.launch">
		<arg name="namespace" value="panporter2"/>
		<arg name="model" value="panporter2"/>
		<arg name="x_pos" value="0.0"/>
		<arg name="y_pos" value="2.0"/>
		<arg name="z_pos" value="0.35"/>
		<arg name="roll" default="0"/>
		<arg name="pitch" default="0"/>
		<arg name="yaw" default="0.0" />
		<arg name="gui" value="false" />
	</include>

	<include file="$(find panporter_pkg)/launch/panporter_spawner.launch">
		<arg name="namespace" value="panporter3"/>
		<arg name="model" value="panporter3"/>
		<arg name="x_pos" value="0.0"/>
		<arg name="y_pos" value="4.0"/>
		<arg name="z_pos" value="0.35"/>
		<arg name="roll" default="0"/>
		<arg name="pitch" default="0"/>
		<arg name="yaw" default="0.0" />
		<arg name="gui" value="false" />
	</include>

	<include file="$(find panporter_pkg)/launch/panporter_spawner.launch">
		<arg name="namespace" value="panporter4"/>
		<arg name="model" value="panporter4"/>
		<arg name="x_pos" value="0.0"/>
		<arg name="y_pos" value="6.0"/>
		<arg name="z_pos" value="0.35"/>
		<arg name="roll" default="0"/>
		<arg name="pitch" default="0"/>
		<arg name="yaw" default="0.0" />
		<arg name="gui" value="false" />
	</include>

	<include file="$(find panporter_pkg)/launch/panporter_spawner.launch">
		<arg name="namespace" value="panporter5"/>
		<arg name="model" value="panporter5"/>
		<arg name="x_pos" value="0.0"/>
		<arg name="y_pos" value="8.0"/>
		<arg name="z_pos" value="0.35"/>
		<arg name="roll" default="0"/>
		<arg name="pitch" default="0"/>
		<arg name="yaw" default="0.0" />
		<arg name="gui" value="false" />
	</include>

	<include file="$(find panporter_pkg)/launch/panporter_spawner.launch">
		<arg name="namespace" value="panporter6"/>
		<arg name="model" value="panporter6"/>
		<arg name="x_pos" value="0.0"/>
		<arg name="y_pos" value="10.0"/>
		<arg name="z_pos" value="0.35"/>
		<arg name="roll" default="0"/>
		<arg name="pitch" default="0"/>
		<arg name="yaw" default="0.0" />
		<arg name="gui" value="false" />
	</include>

	<include file="$(find panporter_pkg)/launch/panporter_spawner.launch">
		<arg name="namespace" value="panporter7"/>
		<arg name="model" value="panporter7"/>
		<arg name="x_pos" value="0.0"/>
		<arg name="y_pos" value="12.0"/>
		<arg name="z_pos" value="0.35"/>
		<arg name="roll" default="0"/>
		<arg name="pitch" default="0"/>
		<arg name="yaw" default="0.0" />
		<arg name="gui" value="false" />
	</include>

	<include file="$(find panporter_pkg)/launch/panporter_spawner.launch">
		<arg name="namespace" value="panporter8"/>
		<arg name="model" value="panporter8"/>
		<arg name="x_pos" value="0.0"/>
		<arg name="y_pos" value="14.0"/>
		<arg name="z_pos" value="0.35"/>
		<arg name="roll" default="0"/>
		<arg name="pitch" default="0"/>
		<arg name="yaw" default="0.0" />
		<arg name="gui" value="false" />
	</include>

	<include file="$(find panporter_pkg)/launch/panporter_spawner.launch">
		<arg name="namespace" value="panporter9"/>
		<arg name="model" value="panporter9"/>
		<arg name="x_pos" value="0.0"/>
		<arg name="y_pos" value="16.0"/>
		<arg name="z_pos" value="0.35"/>
		<arg name="roll" default="0"/>
		<arg name="pitch" default="0"/>
		<arg name="yaw" default="0.0" />
		<arg name="gui" value="false" />
	</include>

	<include file="$(find panporter_pkg)/launch/panporter_spawner.launch">
		<arg name="namespace" value="panporter10"/>
		<arg name="model" value="panporter10"/>
		<arg name="x_pos" value="0.0"/>
		<arg name="y_pos" value="18.0"/>
		<arg name="z_pos" value="0.35"/>
		<arg name="roll" default="0"/>
		<arg name="pitch" default="0"/>
		<arg name="yaw" default="0.0" />
		<arg name="gui" value="false" />
	</include>

	<include file="$(find panporter_pkg)/launch/panporter_spawner.launch">
		<arg name="namespace" value="panporter11"/>
		<arg name="model" value="panporter11"/>
		<arg name="x_pos" value="0.0"/>
		<arg name="y_pos" value="20.0"/>
		<arg name="z_pos" value="0.35"/>
		<arg name="roll" default="0"/>
		<arg name="pitch" default="0"/>
		<arg name="yaw" default="0.0" />
		<arg name="gui" value="false" />
	</include>

	<include file="$(find panporter_pkg)/launch/panporter_spawner.launch">
		<arg name="namespace" value="panporter12"/>
		<arg name="model" value="panporter12"/>
		<arg name="x_pos" value="0.0"/>
		<arg name="y_pos" value="22.0"/>
		<arg name="z_pos" value="0.35"/>
		<arg name="roll" default="0"/>
		<arg name="pitch" default="0"/>
		<arg name="yaw" default="0.0" />
		<arg name="gui" value="false" />
	</include>

	<include file="$(find panporter_pkg)/launch/panporter_spawner.launch">
		<arg name="namespace" value="panporter13"/>
		<arg name="model" value="panporter13"/>
		<arg name="x_pos" value="0.0"/>
		<arg name="y_pos" value="24.0"/>
		<arg name="z_pos" value="0.35"/>
		<arg name="roll" default="0"/>
		<arg name="pitch" default="0"/>
		<arg name="yaw" default="0.0" />
		<arg name="gui" value="false" />
	</include>

	<include file="$(find panporter_pkg)/launch/panporter_spawner.launch">
		<arg name="namespace" value="panporter14"/>
		<arg name="model" value="panporter14"/>
		<arg name="x_pos" value="0.0"/>
		<arg name="y_pos" value="26.0"/>
		<arg name="z_pos" value="0.35"/>
		<arg name="roll" default="0"/>
		<arg name="pitch" default="0"/>
		<arg name="yaw" default="0.0" />
		<arg name="gui" value="false" />
	</include>

	<include file="$(find panporter_pkg)/launch/panporter_spawner.launch">
		<arg name="namespace" value="panporter15"/>
		<arg name="model" value="panporter15"/>
		<arg name="x_pos" value="0.0"/>
		<arg name="y_pos" value="28.0"/>
		<arg name="z_pos" value="0.35"/>
		<arg name="roll" default="0"/>
		<arg name="pitch" default="0"/>
		<arg name="yaw" default="0.0" />
		<arg name="gui" value="false" />
	</include>

	<include file="$(find panporter_pkg)/launch/panporter_spawner.launch">
		<arg name="namespace" value="panporter16"/>
		<arg name="model" value="panporter16"/>
		<arg name="x_pos" value="0.0"/>
		<arg name="y_pos" value="30.0"/>
		<arg name="z_pos" value="0.35"/>
		<arg name="roll" default="0"/>
		<arg name="pitch" default="0"/>
		<arg name="yaw" default="0.0" />
		<arg name="gui" value="false" />
	</include> -->
	
</launch>
