<?xml version="1.0"?>
<launch>
<!-- <arg name="urdf_robot_file" default="$(find panporter_pkg)/urdf/panporter.urdf.xacro" /> -->
	<arg name="model"/>
	<arg name="x_pos"/>
	<arg name="y_pos"/>
	<arg name="z_pos"/>
	<node pkg="gazebo_ros" type="spawn_model" name="spawn_urdf"  args="-urdf -model $(arg model) -x $(arg x_pos) -y $(arg y_pos) -z $(arg z_pos) -param robot_description" />
	<group ns="panporter">
		<!-- the controllers configuration -->
		<rosparam file="$(find panporter_pkg)/config/panporter_control.yaml" command="load"/>

		<!-- load the controllers -->
        <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
              output="screen" args="joint_state_controller
																		wheel_right_joint_velocity_controller
                                    wheel_left_joint_velocity_controller
                                    prism_joint_position_controller --shutdown-timeout 10"
              ns="/panporter"/>

		<!-- the robot state publisher -->
		<node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher"
			respawn="false" output="screen">
			<param name="publish_frequency" type="double" value="5.0"/>
		</node>
	</group>
</launch>
