<?xml version="1.0"?>
<launch>
<!-- <arg name="urdf_robot_file" default="$(find panporter_pkg)/urdf/panporter.urdf.xacro" /> -->
	<arg name="namespace"/>
	<arg name="model"/>
	<arg name="x_pos"/>
	<arg name="y_pos"/>
	<arg name="z_pos"/>
    <arg name="roll"/>
    <arg name="pitch"/>
    <arg name="yaw"/>
	<arg name="gui"/>

	<!-- <param name="robot_description" textfile="$(find panporter_pkg)/urdf/panporter.urdf.xacro" /> -->
	<group ns="$(arg namespace)">
		<param name="robot_description" command="$(find xacro)/xacro --inorder $(find panporter_pkg)/urdf/panporter.urdf.xacro my_namespace:=$(arg namespace)"/>

		<node pkg="gazebo_ros" type="spawn_model" name="spawn_$(arg namespace)"  args="-urdf -model $(arg model) -x $(arg x_pos) -y $(arg y_pos) -z $(arg z_pos) -R $(arg roll) -P $(arg pitch) -Y $(arg yaw) -param robot_description" clear_params="true" />
		<!-- the controllers configuration -->
		<rosparam file="$(find panporter_pkg)/config/panporter_control.yaml" command="load"/>

		<!-- load the controllers -->
        <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
              output="screen" args="joint_state_controller
									wheel_right_joint_velocity_controller
                                    wheel_left_joint_velocity_controller
                                    prism_joint_position_controller"/>
              <!-- ns="/$(arg namespace)"/> -->

		<!-- the robot state publisher -->
		<node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />
		<!-- <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" respawn="false" output="screen">
			<param name="publish_frequency" type="double" value="5.0"/>
		</node> -->

		<param name="use_gui" value="$(arg gui)"/>
		<param name="joy_node/dev" value="/dev/input/js1"/>
		<!-- <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" ></node> -->
		<!-- <node name="rviz" pkg="rviz" type="rviz" args="-d $(find panporter_pkg)/config/config.rviz" /> -->
		<node name="odom" pkg="panporter_pkg" type="odom" ></node> 
		<node name="joy_node" pkg="joy" type="joy_node"> </node>
		<node name="c8_teleop_joy" pkg="panporter_pkg" type="teleop_joy" ></node>
		<node name="my_motion" pkg="panporter_pkg" type="my_motion" ></node>
	</group>
</launch>
